@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome to the Vacation Manager!</h1>
                                </div>
                                <p class="text-center">This project was made by Yanislav Angelov, Nikolay Sivakov, Zahariy Mandewski, Zdravko Shterev, and Atanas Ovcharov.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 